.table-data-factory {
    width: 100%;
}

.key-data-table-data-factory {
    background-color: #78C3FB;
    border: 1px solid black;
    padding: 10px;
}

.value-data-table-data-factory {
    background-color: #D9EBF9;
    border: 1px solid black;
    padding: 10px;
}
